PORT=3001
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://audio.omideveloper.com/auth/callback
NOTION_API_KEY=
NOTION_AUDIO_LOG_PAGE=33b14f5176d081b4b6caf98de3f5104f
APP_URL=https://audio.omideveloper.com
